In [37]:
## To surpress all warnings
import warnings
warnings.simplefilter("ignore")

In [38]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [39]:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"

file = requests.get(URL)
soup = bs(file.content, 'html.parser')

In [40]:
title = soup.title
print (title)

<title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [41]:
amazon_df = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [42]:
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    volume = col[6].text
    # print (date)


    amazon_df = pd.concat([amazon_df, pd.DataFrame({"Date":[date],"Open":[open],"High":[high],"Low":[low], "Close":[close],"Volume":[volume]})], ignore_index= True)
    # netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)    

print (amazon_df)
amazon_df.head()

            Date      Open      High       Low     Close       Volume
0   Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900
1   Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200
2   Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500
3   Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100
4   Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300
..           ...       ...       ...       ...       ...          ...
56  May 01, 2016    663.92    724.23    656.00    722.79   90,614,500
57  Apr 01, 2016    590.49    669.98    585.25    659.59   78,464,200
58  Mar 01, 2016    556.29    603.24    538.58    593.64   94,009,500
59  Feb 01, 2016    578.15    581.80    474.00    552.52  124,144,800
60  Jan 01, 2016    656.29    657.72    547.18    587.00  130,200,900

[61 rows x 6 columns]

           Date      Open      High       Low     Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300