In [1]:
import pandas as pd
from bs4 import BeautifulSoup as BS

import yfinance as yf # to get the AAPL ticker
import json #to read JSON file

In [2]:
amd = yf.Ticker('AMD')
amd_data = amd.history(period = "max")

amd_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,3.125000,3.302083,3.125000,3.145833,219600,0.0,0.0
1980-03-18 00:00:00-05:00,3.125000,3.125000,2.937500,3.031250,727200,0.0,0.0
1980-03-19 00:00:00-05:00,3.031250,3.083333,3.020833,3.041667,295200,0.0,0.0
1980-03-20 00:00:00-05:00,3.041667,3.062500,3.010417,3.010417,159600,0.0,0.0
1980-03-21 00:00:00-05:00,3.010417,3.020833,2.906250,2.916667,130800,0.0,0.0

In [3]:
amd_data.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-07-25 00:00:00-04:00,163.509995,167.179993,162.360001,166.470001,53432300,0.0,0.0
2025-07-28 00:00:00-04:00,169.080002,174.699997,168.669998,173.660004,68267800,0.0,0.0
2025-07-29 00:00:00-04:00,175.210007,182.309998,174.679993,177.440002,108154800,0.0,0.0
2025-07-30 00:00:00-04:00,175.610001,180.369995,173.800003,179.509995,64820300,0.0,0.0
2025-07-31 00:00:00-04:00,182.020004,182.500000,173.000000,176.309998,71361500,0.0,0.0

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/data/amd.json

--2025-08-01 06:46:01--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/data/amd.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5838 (5.7K) [application/json]
Saving to: ‘amd.json’

amd.json            100%[===================>]   5.70K  --.-KB/s    in 0s

2025-08-01 06:46:06 (309 MB/s) - ‘amd.json’ saved [5838/5838]

In [7]:
import json

with open('amd.json') as json_file:
    amd_info = json.load(json_file)

In [8]:
amd_info['country']

'United States'

In [9]:
amd_info['sector']

'Technology'

In [13]:
# amd_info['volume']
amd_volume = amd.history(period = 'max')
print(amd_volume)

                                 Open        High         Low       Close  \
Date
1980-03-17 00:00:00-05:00    3.125000    3.302083    3.125000    3.145833
1980-03-18 00:00:00-05:00    3.125000    3.125000    2.937500    3.031250
1980-03-19 00:00:00-05:00    3.031250    3.083333    3.020833    3.041667
1980-03-20 00:00:00-05:00    3.041667    3.062500    3.010417    3.010417
1980-03-21 00:00:00-05:00    3.010417    3.020833    2.906250    2.916667
...                               ...         ...         ...         ...
2025-07-25 00:00:00-04:00  163.509995  167.179993  162.360001  166.470001
2025-07-28 00:00:00-04:00  169.080002  174.699997  168.669998  173.660004
2025-07-29 00:00:00-04:00  175.210007  182.309998  174.679993  177.440002
2025-07-30 00:00:00-04:00  175.610001  180.369995  173.800003  179.509995
2025-07-31 00:00:00-04:00  182.020004  182.500000  173.000000  176.309998

                              Volume  Dividends  Stock Splits
Date
1980-03-17 00:00:00-05:00     219600        0.0           0.0
1980-03-18 00:00:00-05:00     727200        0.0           0.0
1980-03-19 00:00:00-05:00     295200        0.0           0.0
1980-03-20 00:00:00-05:00     159600        0.0           0.0
1980-03-21 00:00:00-05:00     130800        0.0           0.0
...                              ...        ...           ...
2025-07-25 00:00:00-04:00   53432300        0.0           0.0
2025-07-28 00:00:00-04:00   68267800        0.0           0.0
2025-07-29 00:00:00-04:00  108154800        0.0           0.0
2025-07-30 00:00:00-04:00   64820300        0.0           0.0
2025-07-31 00:00:00-04:00   71361500        0.0           0.0

[11437 rows x 7 columns]