In [3]:
import pandas as pd
from bs4 import BeautifulSoup as BS

import yfinance as yf # to get the AAPL ticker
import json #to read JSON file

In [6]:
apple = yf.Ticker('AAPL')
apple_data = apple.history(period = "max")

apple_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.098597,0.099025,0.098597,0.098597,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.093881,0.093881,0.093453,0.093453,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087022,0.087022,0.086594,0.086594,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.088737,0.089166,0.088737,0.088737,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.091310,0.091738,0.091310,0.091310,73449600,0.0,0.0

In [7]:
apple_data.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-07-25 00:00:00-04:00,214.699997,215.240005,213.399994,213.880005,40268800,0.0,0.0
2025-07-28 00:00:00-04:00,214.029999,214.850006,213.059998,214.050003,37858000,0.0,0.0
2025-07-29 00:00:00-04:00,214.179993,214.809998,210.820007,211.270004,51411700,0.0,0.0
2025-07-30 00:00:00-04:00,211.899994,212.389999,207.720001,209.050003,45512500,0.0,0.0
2025-07-31 00:00:00-04:00,208.490005,209.839996,207.160004,207.570007,78744400,0.0,0.0